<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">   
<h:body>
       
      <ui:composition >
        
          <h:form id="AjoutClient" styleClass="formulaire">
            <p:panelGrid id="pg" columns="2"   styleClass="panelGrid" columnClasses="colGrid1, colGrid2"  >
            <p:outputLabel value="Nom du client"/>
            <h:inputText value="#{controleurExo4.nouveauClient.nomCli}" id="nomClient" title="Saisir nom du client"/>
            <p:outputLabel value="Ville du client"/>
            <h:inputText value="#{controleurExo4.nouveauClient.adrCli}" id="adrClient" />
      <p:outputLabel value="" for="region"/>
      <p:selectOneMenu id="region" value="#{controleurExo4.nouveauClient.laRegion}"  immediate="true"
                       filter="true" filterMatchMode="startsWith" 
                       
      >   
         
          <f:selectItems value="#{controleurExo4.lesRegions}"  
                       var="reg"   
                       itemLabel="#{reg.nomRegion}" itemValue="#{reg}" 
        /> 
         
      </p:selectOneMenu>
        <p:commandButton value="Valider l'ajout"
                         actionListener="#{controleurExo4.enregisterModifications()}"
                         action="crudclient"
                         
                         
        />
        
            </p:panelGrid>
          </h:form>
      </ui:composition>
    
</h:body>
</html>