<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">   
<h:body>
       
      <ui:composition >
        
          <h:form id="AjoutProduit" styleClass="formulaire">
            <p:panelGrid id="pg" columns="2"   styleClass="panelGrid" columnClasses="colGrid1, colGrid2"  >
            <p:outputLabel value="Reference du produit"/>
            <h:inputText value="#{controleurExo4.nouveauProduit.refProd}" id="RefProd"/>
            <p:outputLabel value="Designation du produit"/>
            <h:inputText value="#{controleurExo4.nouveauProduit.desigProd}" id="DesignProd" />
            <p:outputLabel value="Prix du produit"/>
            <h:inputText value="#{controleurExo4.nouveauProduit.prixProd}" id="PrixProd" />
      <p:outputLabel value="" for="categorie"/>
            <p:selectOneMenu id="categorie" value="#{controleurExo4.nouveauProduit.laCategorie}"  immediate="true"
                       filter="true" filterMatchMode="startsWith" 
                       
      >   
         
          <f:selectItems value="#{controleurExo4.lesCategories}"  
                       var="ctg"   
                       itemLabel="#{ctg.nomCateg}" itemValue="#{ctg}" 
        />
          </p:selectOneMenu>
        <p:commandButton value="Valider l'ajout"
                         actionListener="#{controleurExo4.enregistrerleproduit()}"
                         action="crudproduit"              
        />
            
            </p:panelGrid>
          </h:form>
      </ui:composition>
    
</h:body>
</html>