<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">   
<h:body>
       
      <ui:composition >
        
          <h:form id="AjoutRegion" styleClass="formulaire">
            <p:panelGrid id="pg" columns="2"   styleClass="panelGrid" columnClasses="colGrid1, colGrid2"  >
            <p:outputLabel value="Reference de la région"/>
            <h:inputText value="#{controleurExo4.nouvelleRegion.codeRegion}" id="RefReg"/>
            <p:outputLabel value="Nom de la région"/>
            <h:inputText value="#{controleurExo4.nouvelleRegion.nomRegion}" id="NomReg" />
        <p:commandButton value="Valider l'ajout"
                         actionListener="#{controleurExo4.enregistrerlaRegion()}"
                         action="crudregion"              
        />
            
            </p:panelGrid>
          </h:form>
      </ui:composition>
    
</h:body>
</html>