       <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">   
        <h:body>
      <ui:composition >
        
          <h:form id="SelectionCommande" styleClass="formulaire">
            <p:panelGrid id="pg" columns="2"   styleClass="panelGrid" columnClasses="colGrid1, colGrid2"  >

      <p:outputLabel value="" for="commande"/>
      <p:selectOneMenu id="commande" value=""  immediate="true"
                       filter="true" filterMatchMode="startsWith" 
                       
      >   
         
          <f:selectItems value="#{controleurExo4.listeCommandes}"  
                       var="com"   
                       itemLabel="#{com.numCom}" itemValue="#{com}" 
        /> 
          <p:ajax event="change" update="@parent"/>
      </p:selectOneMenu>
        <p:commandButton value="Selectionner la commande"
                         actionListener="#{controleurExo4.ajouterClient()}"
        />
        
            </p:panelGrid>
          </h:form>
      </ui:composition>
       </h:body>
</html>