<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
   
    <h:body>
       
      <ui:composition >
        
          <h:form id="crudProduit" styleClass="formulaire">
            
            <f:view>  
                   
              <ui:include   src="/WEB-PAGES/blocs/blocselectionproduitPourCrud.xhtml" />
        
              <p:separator  styleClass="separateur"/>
            
          <ui:include   src="/WEB-PAGES/blocs/blocinfosproduitPourCrud.xhtml" />  
              
              <p:separator  styleClass="separateur"/> 
           
            </f:view>  
             
           </h:form>   
        
      </ui:composition>      
    
    </h:body>
</html>

