
<ui:composition 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
>
              
    <p:selectOneListbox  id="comboRegCrud"
              
        style= "border-radius: 15px;width: 40%; 
                border: solid deepskyblue;
                background-color: silver; max-height: 75px;"
                                  
                value="#{controleurExo4.region}"   
    >
            
        <f:selectItems    
            value="#{controleurExo4.lesRegions}" 
            var       = "reg"
            itemLabel = "#{reg.nomRegion}"    itemValue="#{reg}"          
         />  
                    <p:ajax   event="change"
                   update="@all"/>
                   
     </p:selectOneListbox> 
    
</ui:composition>   
