       
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
>

 
  <p:panel id="infoscategoriePourCrud"      
           styleClass="infosCategorie" 
           toggleable="true"   collapsed="false" 
           closeSpeed="1500"   toggleTitle="Réduire" 
  >  
   <f:facet name="header" >
            Modification 
   </f:facet>
     
   <p:panelGrid id="pg" columns="2"   styleClass="panelGrid" columnClasses="colGrid1, colGrid2"  >
             
      <p:outputLabel value="Code Categorie"/>
      <h:inputText readonly="true" value="#{controleurExo4.categorie.codeCateg}"/>
       
      <p:outputLabel value="Nom Categorie"/> 
      <h:inputText value="#{controleurExo4.categorie.nomCateg}" />
      
      <p:outputLabel value="Taux TVA Categorie"/> 
      <h:inputText value="#{controleurExo4.categorie.tauxTVACateg}" />            
    </p:panelGrid>   
  </p:panel>

   <p:commandButton value="Ajouter une catégorie" 
                    actionListener="#{controleurExo4.ajouterCategorie()}"
                    action="ajoutcategorie" 
  />

  <p:commandButton value="Supprimer"  
                   actionListener="#{controleurExo4.supprimerCategorie()}"
                   update=":crudCategorie"
  />
  <p:commandButton value="Enregistrer"  
                   actionListener="#{controleurExo4.enregistrerCategorie()}"
                   update=":crudCategorie"
  />

    
</ui:composition>  
   