
<ui:composition 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
>
              
    <p:selectOneListbox  id="comboProCrud"
              
        style= "border-radius: 15px;width: 40%; 
                border: solid deepskyblue;
                background-color: silver; max-height: 75px;"
                                  
                value="#{controleurExo4.produit}"   
    >
            
        <f:selectItems    
            value="#{controleurExo4.lesProduits}" 
            var       = "prd"
            itemLabel = "#{prd.desigProd}"    itemValue="#{prd}"          
         />  
                    <p:ajax   event="change"
                   update="@all"
                   listener="#{controleurExo4.traiterSelectionComboProduit}"/>
                   
     </p:selectOneListbox> 
    
</ui:composition>   
