       
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
>

 
  <p:panel id="infosregionPourCrud"      
           styleClass="infosRegion" 
           toggleable="true"   collapsed="false" 
           closeSpeed="1500"   toggleTitle="Réduire" 
  >  
   <f:facet name="header" >
            Modification 
   </f:facet>
     
   <p:panelGrid id="pg" columns="2"   styleClass="panelGrid" columnClasses="colGrid1, colGrid2"  >
             
      <p:outputLabel value="ID tranche tarifaire"/>
      <h:inputText readonly="true" value="#{controleurExo4.tranche.idtranche}"/>
       
      <p:outputLabel value="Prix unitaire tranche tarifaire"/> 
      <h:inputText value="#{controleurExo4.tranche.prixUnitaireTranche}" />
      
      <p:outputLabel value="Quantité début tranche tarifaire"/> 
      <h:inputText value="#{controleurExo4.tranche.qteDebutTranche}" />
      
      <p:outputLabel value="Quantité fin tranche tarifaire"/> 
      <h:inputText value="#{controleurExo4.tranche.qteFinTranche}" />
      
      <p:outputLabel value="Produit de tranche tarifaire"/> 
      <p:selectOneMenu id="Produit" value="#{controleurExo4.tranche.leProduit.desigProd}"  immediate="true"
                       filter="true" filterMatchMode="startsWith" 
                       
      >   
         
          <f:selectItems value="#{controleurExo4.lesProduits}"  
                       var="prd"   
                       itemLabel="#{prd.desigProd}" itemValue="#{prd}" 
        />     
        <p:ajax event="change" update="@parent"/>
      </p:selectOneMenu>
      
    </p:panelGrid>   
  </p:panel>

    
</ui:composition>  
   