       
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
>

 
  <p:panel id="infosregionPourCrud"      
           styleClass="infosRegion" 
           toggleable="true"   collapsed="false" 
           closeSpeed="1500"   toggleTitle="Réduire" 
  >  
   <f:facet name="header" >
            Modification 
   </f:facet>
     
   <p:panelGrid id="pg" columns="2"   styleClass="panelGrid" columnClasses="colGrid1, colGrid2"  >
             
      <p:outputLabel value="Code Region"/>
      <h:inputText readonly="true" value="#{controleurExo4.region.codeRegion}"/>
       
      <p:outputLabel value="Nom Region"/> 
      <h:inputText value="#{controleurExo4.region.nomRegion}" />
            
    </p:panelGrid>   
  </p:panel>
   <p:commandButton value="Ajouter une region" 
                    actionListener="#{controleurExo4.ajouterRegion()}"
                    action="ajoutregion" 
  />

  <p:commandButton value="Supprimer"  
                   actionListener="#{controleurExo4.supprimerRegion()}"
                   update=":crudRegion"
  />
  <p:commandButton value="Enregistrer"  
                   actionListener="#{controleurExo4.enregistrerRegion()}"
                   update=":crudRegion"
  />
    
</ui:composition>  
   