       
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
>

 
  <p:panel id="infosproduitPourCrud"      
           styleClass="infosProduit" 
           toggleable="true"   collapsed="false" 
           closeSpeed="1500"   toggleTitle="Réduire" 
  >  
   <f:facet name="header" >
            Modification 
   </f:facet>
     
   <p:panelGrid id="pg" columns="2"   styleClass="panelGrid" columnClasses="colGrid1, colGrid2"  >
             
      <p:outputLabel value="RefProd"/>
      <h:inputText readonly="true" value="#{controleurExo4.produit.refProd}"/>
       
      <p:outputLabel value="Nom"/> 
      <h:inputText value="#{controleurExo4.produit.desigProd}" />
            
      <p:outputLabel value="prixProduit" for="prixProd"/>
      <h:inputText id="prixProd" value="#{controleurExo4.produit.prixProd}" />
      
      <p:outputLabel value="Categorie :"/>
      <p:selectOneMenu id="categorie" value="#{controleurExo4.produit.laCategorie}"  immediate="true"
                       filter="true" filterMatchMode="startsWith" 
                       
      >   
         
          <f:selectItems value="#{controleurExo4.lesCategories}"  
                       var="ctg"   
                       itemLabel="#{ctg.nomCateg}" itemValue="#{ctg}" 
        />     
        <p:ajax event="change" update="@parent"/>
      </p:selectOneMenu>
    </p:panelGrid>   
  </p:panel>
  <p:commandButton value="Enregister les modifications"  
                       actionListener="#{controleurExo4.enregisterProduit}"
                       update=":crudProduit:comboProCrud"
  />
   <p:commandButton value="Ajouter un produit" 
                    actionListener="#{controleurExo4.ajouterProduit()}"
                    action="ajoutproduit" 
  />
  <p:commandButton value="Supprimer"  
                   actionListener="#{controleurExo4.supprimerProduit()}"
                   update=":crudProduit"
  />
    
</ui:composition>  
   