<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
       <h:form>
            <f:view>
                <p:panel toggleable="true" closable="true">
                    <p:pieChart value="#{contCamembert.cammebert}" 
                                legendPosition="c" 
                                sliceMargin="7" 
                                shadow="true"
                                showDataLabels="true"
                     />
                </p:panel>
                
            </f:view>   
            
        </h:form>
    </h:body>
</html>

