<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
         <ui:composition template="/WEB-PAGES/masters/master.xhtml">
            
             <ui:define name="panneauNord">               
                   
                <ui:include  src="/WEB-PAGES/panneaux/nord_TitreCrudProduits.xhtml"/>
                 
             </ui:define> 
            
             <ui:define name="panneauCentral" >
                <ui:include src="/WEB-PAGES/panneaux/centre_CrudProduits.xhtml"/>
             </ui:define> 
           
        </ui:composition>
    </h:body>
</html>

