<ui:composition 
    
    template="/WEB-PAGES/masters/master.xhtml" rendererType="#{controleurSession.connexionOK}"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
>
               
    
      <ui:define name="panneauNord" rendered="#{controleurSession.connexionOK}">                 
    <h3 style="margin-top:0;  text-align: center;  font-family:  serif ; background-color:  bisque;">
    
        Affichage de la commande : #{controleurCommandesParClient.commandeSel.numCom}
  
    </h3>  
      </ui:define> 
            
      <ui:define name="panneauCentral" rendered="#{controleurSession.connexionOK}" >
             <p:panel id="infosclient"
          
          styleClass="infosClient" 
          toggleable="true"   collapsed="false" 
          closeSpeed="1500"   toggleTitle="Réduire" 
 >
     
     <f:facet name="header" >
         <h:outputLabel value="Information de la commande :#{controleurExo4.commandeSel.numCom}"  />
     </f:facet>
     
     <p:panelGrid  columns="2"   styleClass="panelGrid" columnClasses="colGrid1, colGrid2"  >

         <p:outputLabel value="Nom du client"/>
         <h:outputText value="#{controleurExo4.commandeSel.leClient.nomCli}" />
         
         <p:outputLabel value="Statut"/>
         <h:outputText value="#{controleurExo4.commandeSel.etatCom}" />
         
         <p:outputLabel value="Date Commande"/>
         <h:outputText value="#{controleurExo4.commandeSel.dateCom}"  >
       <f:convertDateTime pattern="dd/MM/yyyy"  timeZone="Europe/Paris"/>
     </h:outputText>    
 
      
        
  </p:panelGrid>  
                
     
  <p:ajax event="toggle"   update="@this"/>   
 </p:panel>  
          
    <p:dataTable 
   id="tableaucommandes"
   value="#{controleurExo4.commandeSel.lesLignesDeCommande}" var="ldc"  rowIndexVar="rang"
   styleClass="tableau" rowStyleClass="#{(rang mod 2) eq 0 ? 'rowPair' : 'rowImpair'}"
   paginator="true" rows="3"
   paginatorTemplate="{FirstPageLink} {PreviousPageLink} {NextPageLink} {PageLinks} {LastPageLink}"
   paginatorPosition="bottom"
 >
    
        <f:facet name="header" >Liste des lignes de commandes de #{controleurExo4.client.nomCli} </f:facet> 
                
   <p:column  headerText="référence"  styleClass="colNumCom">#{ldc.leProduit.refProd} </p:column>
                
   <p:column headerText="Produit"  styleClass="colDateCom">                   
       <h:outputText value="#{ldc.leProduit.desigProd}"  />              
   </p:column>
   <p:column headerText="Quantité"  styleClass="colMn">
       <h:outputText value="#{ldc.qteCom}"  />   
   </p:column>     
      <p:column headerText="Montant HT"  styleClass="colMntHT">               
          <h:outputText value="#{ldc.leProduit.prixProd}"  >
       <f:convertNumber type="currency" currencySymbol="€" groupingUsed="true" minFractionDigits="2"/>
     </h:outputText>             
   </p:column>    
   <p:column headerText="Montant HT"  styleClass="colMntHT">               
       <h:outputText value="#{controleurExo4.montantLigneCommandeHT(ldc)}"  >
       <f:convertNumber type="currency" currencySymbol="€" groupingUsed="true" minFractionDigits="2"/>
     </h:outputText>             
   </p:column>      
  
 </p:dataTable> 
     
    <p:growl id="affComm"  showDetail="true" sticky="false" life="3000"/>
      
          
      </ui:define> 
     
</ui:composition>


